
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Refuse</title>

</head>
<body>
    <div>
        Farewell!!!
        感谢你的陪伴，感谢你给我的美好的回忆，最后祝你平安、幸福、快乐每一天。。。

        |||_|||

       
    </div>
</body>
</html>
